vivado*
testbench/vivado*
.Xil
*webtalk*
ip/**/*
!ip/**/
!ip/**/*.xci
builds/

## From Hog: Xilinx Vivado
**.str
**.jou
.Xil/
.Xilinx/
Projects/
output/
lastbuilt.txt
credentials.sh
VivadoProject
SimulationLib
profpga
bin/
